<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="TryBeta" connectionString="Data Source=MSI\SQLEXPRESS01;Initial Catalog=TryBeta;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	<!--<add name="TryBeta" connectionString="Data Source=19thBackend\SQLEXPRESS01;Initial Catalog=TryBeta;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />-->
	<!--<add name="TryBeta" connectionString="Server=19thBackend\SQLEXPRESS;Database=TryBeta;User ID=umit0527;Password=umit812018;" providerName="System.Data.SqlClient" />-->
</connectionStrings>